# Local virtual environment
batchvenv/

# Potentially Sensitive
config/config.yaml
config/prompts.yaml
examples/*.txt
input/*.csv
input/*.json
input/*.jsonl
output/*.csv
output/*.json
output/*.jsonl
output/*.log
docs/scratchpad.md
tests/testing_agenda.md

# temp files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

# editor related
.vscode/
.markdownlint.json
tests/logs/
tests/output/
output/logs/
